.branding__Icons {
  margin-bottom: -77px;
  margin-left: 60px;
}
.Branding___conatiner {
  padding-top: 45px;
  background-color: #10c9c3;
  padding-bottom: 43px;
  overflow: hidden;
}
.branding__divs {
  text-align: center;
  padding-left: 40px;
}
.branding__pa {
  color: white;
  font-weight: 800;
}
