.Links {
  background-color: #e1ebed;
  padding-right: 23px;
}

.NavLink {
  color: black;
  font-size: 13px;
  font-weight: 900;
}
.NavLink:hover {
  color: #10c9c3 !important;
  font-size: 13px;
  font-weight: 900;
}
.NavLink_Active {
  color: #10c9c3 !important;
  font-size: 13px;
  font-weight: 900;
}
