.conatiners {
  background-color: #f9f9f9;
}
.pskill {
  padding-top: 80px;
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
.heading {
  padding-left: 75px;
  font-size: 30px !important;
}
.pargraph {
  padding-left: 80px;
  font-size: 12px;
  font-weight: 900;
  padding-top: 20px;
}
.prog {
  margin-left: 77px;
}
