.Progress__conatiners {
  background-color: #f8f9fa;
}
.Progress__skill {
  padding-top: 80px;
  /* background-color: #f9f9f9; */
  padding-bottom: 30px;
}
.Progress__Heading {
  font-size: 30px !important;
  font-weight: 900;
}
.Progress__pargraph {
  font-size: 12px;
  font-weight: 900;
  padding-top: 20px;
}
.prog {
  margin-left: 77px;
}
